.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: 8px;
}

.circle {
  background-color: #F2F2F2;
  border-radius: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 75px;
}

.text {
  text-align: center;
}
