.content {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

.stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat .title {
}

.stat .number {

}

.stat .number .value {
  font-weight: bold;
}

.stat .number .total {

}

.stat .progress {
  height: 32px;
  width: 100%;
}


.menu {
  flex: 2;
  overflow: auto;
}

