.request-login {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  background-color: #F2F2F2;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.selector {
  flex: 1;
  overflow: auto;
}

.add-new {
  padding: 16px;
}

